.single-movie {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 60px;
  img {
    width: 50%;
    float: right;
  }
  .about_single_movie {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
    line-height: 28px;
    width: 50%;
    float: left;
    .title {
      font-size: 25px;
      font-weight: 700;
      color: rgb(22, 22, 207);
    }
    h4 {
      font-weight: 700;
    }
    h5 {
      color: rgb(22, 22, 207);
    }
    .movie_about {
      width: 80%;
    }
    span {
      font-weight: 700;
    }
    h3 {
      color: rgb(22, 22, 207);
      font-weight: 700;
    }
  }
}